@import 'bootstrap';

.navbar-brand {
    font-size: 2rem;
}

.message_box {
    width: 60%;
    height: 60px;
    border-radius: 5px;
    margin: 20px auto 20px auto;
}

#centralized_content {
    max-width: 50%;
    margin: 0 auto 0 auto;
}

.search-area{
    padding-top: 20px;
}

.no-right-padding {
    padding-right: 0;
}

.no-left-padding {
    padding-left: 0;
}

.results-block {
    margin-top: 30px;
    display: inline-block;
}